@model AdminAddUpdateEmployeePageVM
@{
    ViewBag.Title = "AddEmployee";
}

<h2>AddEmployee</h2>

<style>
    .genislik {
        width: 300px;
    }
</style>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-12">

            <section class="panel">
                <header class="panel-heading">
                    Çalışan Ekleme Sayfası
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2"> UserName</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Employee.UserName, new { @class = "form-control-genislik" })
                        </div>
                    </div>

                    <br /> <br />
                    <div class="form-group">
                        <label class="col-sm-2">Şifre</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Employee.Password, new { @class = "form-control-genislik" })
                        </div>
                    </div>
                    <br /> <br />
                   

                    <div class="form-group">
                        <label class="col-sm-2">İşlem:</label>
                        <div class="col-sm-10">
                            <button class="btn btn-primary">Ekle</button>


                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
}

